---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>Posts with tags:
    <a href="/tag/cis-cod.html">cis-cod</a>,
    <a href="/tag/coordinates.html">coordinates</a>,
    <a href="/tag/dsat.html">dsat</a>,
    <a href="/tag/tiles.html">tiles</a>
  </p>


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {% include post.html %}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
